
#header {
    height: 80px;
    background-color: royalblue;
    text-align: center;
    padding-top: 10px;
}

#header h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.padded-left {
    padding-left: 25px;
}

.padded-top {
    padding-top: 10px;
}

.padded {
    padding: 25px;
}

.border {
    border: 1px solid grey;
}

button {
    border-radius: 25%;
    background-color: royalblue;
    color: white;
    font-weight: bold;
}

.search-his-btn {
    margin: 25px;
    padding: 10px;
}

.low-uv {
    background-color: green;
    width: 10%;
}

.moderate-uv {
    background-color: yellow;
    width: 10%;
}

.high-uv {
    background-color: orange;
    width: 10%;
}

.very-high-uv {
    background-color: red;
    width: 10%;
}

#forecast {
    justify-content: space-between;
}

.forecast-day {
    background: royalblue;
    color: white;
}